.vscode/

*.o
*.lo
*.a
*.la
*.lai
*.so.*
*.Plo
*.Po
*.output
*.0
*.1
*.m4
*.log
*.status
*.sub
*.obj

ajut*

.libs/*
autom4te.cache/

Examples/.libs/*
Main/.libs/*

Parser/*.yy.c
Parser/*.tab.c
Parser/*.tab.h

Main/gkc
Main/gendata
Main/indextool
Main/stresstest
Main/selftest
Main/wgdb

gkc
gkc.exe
gkcosx
gkc.lib
gkc.pc

Makefile
whitedb.pc
compile
config.guess
configure
depcomp
install-sh
libtool
ltmain.sh
missing
py-compile
stamp-h1
test-driver

.dirstamp

tmp
Rtest/
Locdoc/
Builtparser/*.y
Examples/try*
Examples/tmp*


2019/
old30weightlimit/
okversion12june/
version13june/
version16junecasc/
starexec/
starexec2/
starexec_benchmarks/
Binaries/
hl/
geoff/
casc/
2020/
html/
Jstest/

Db/Makefile.in
Main/Makefile.in
Makefile.in
Parser/Makefile.in
Printer/Makefile.in
Reasoner/Makefile.in
Reasoner/analyze_last.c
Reasoner/analyze_last.h
Reasoner/clstore_v40.c
Reasoner/glb_40.c
Reasoner/proplog.js
Reasoner/psolve.c
Reasoner/psolve.h
config.h.in
config.h.orig
json/Makefile.in
makefile.orig







