.vscode/

*.o
*.lo
*.a
*.la
*.lai
*.so.*
*.Plo
*.Po
*.output
*.0
*.1
*.m4
*.log
*.status
*.sub
*.obj

ajut*

.libs/*
autom4te.cache/

Examples/.libs/*
Main/.libs/*

Parser/*.yy.c
Parser/*.tab.c
Parser/*.tab.h

Main/gkc
Main/gendata
Main/indextool
Main/stresstest
Main/selftest
Main/wgdb

gkc
gkc.exe
gkc.lib
gkc.pc

Makefile
whitedb.pc
compile
config.guess
configure
depcomp
install-sh
libtool
ltmain.sh
missing
py-compile
stamp-h1
test-driver

.dirstamp

tmp
Rtest/
Locdoc/
Builtparser/*.y
Examples/try*
Examples/tmp*


2019/
old30weightlimit/
okversion12june/
version13june/
version16junecasc/
starexec/
starexec2/
starexec_benchmarks/
Binaries/
hl/
geoff/
casc/






